<nav class="navbar navbar-expand-lg navbar-dark glass-nav rounded-pill mt-3 mx-auto px-3">
  <a class="navbar-brand brand-text" href="index.html">portfolio</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
      <li class="nav-item"><a class="nav-link" href="home.html">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
      <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="tasks/index.html">All Tasks</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active-tab" href="#" role="button" data-bs-toggle="dropdown">Tasks</a>
        <ul class="dropdown-menu dropdown-menu-dark rounded-4 border-0 shadow-sm">
          <li><a class="dropdown-item" href="home.html#topic-1">Topic 1</a></li>
          <li><a class="dropdown-item" href="home.html#topic-2">Topic 2</a></li>
          <li><a class="dropdown-item" href="home.html#topic-3">Topic 3</a></li>
          <li><a class="dropdown-item" href="home.html#topic-4">Topic 4</a></li>
          <li><a class="dropdown-item" href="about.html#topic-5">Topic 5</a></li>
          <li><a class="dropdown-item" href="about.html#topic-6">Topic 6</a></li>
          <li><a class="dropdown-item" href="about.html#topic-7">Topic 7</a></li>
          <li><a class="dropdown-item" href="about.html#topic-8">Topic 8</a></li>
          <li><a class="dropdown-item" href="contact.html#topic-9">Topic 9</a></li>
          <li><a class="dropdown-item" href="contact.html#topic-10">Topic 10</a></li>
          <li><a class="dropdown-item" href="contact.html#topic-11">Topic 11</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
